.shop-table-card {
  background: #fff;
  margin-top: 20px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.twobtn {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.viewallinput {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.viewallbtn {
  border: 1px solid #ccc;
  background: #ccc;
  color: black;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
}

.dashboardshoptable {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f3f4f6;
  padding: 14px;
  text-align: left;
}

td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.status-open {
  background: #4caf50;
  color: #fff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.status-close {
  background: #f44336;
  color: #fff;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.action-buttons {
  display: flex;
  gap: 10px;
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-btn {
  color: #181616;
  border: none;
}

.edit-btn {
  background: #ff9800;
  color: #fff;
}

.delete-btn {
  background: #f44336;
  color: #fff;
}

.viewallbtn:hover {
  background: #35281d;
  color: #fff;
  transform: translateY(-3px);
}
