.addItemContainer {
  inset: 0;
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addItemMain {
  width: 600px;
  background: #fff;
  border: 3px solid #fefefe;
  height: 400px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 550px;
  height: 250px;
  position: absolute;
  margin-left: 20px;
  padding-left: 10px;
  border: 5px solid #fefefe;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.body-left,
.body-right {
  display: flex;
  gap: 10px;

  flex-direction: column;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.body-label {
  font-size: 18px;
  font-weight: 500;
}

.body-input {
  width: 180px;
  height: 30px;
  border-radius: 12px;
  color: #fff;
  font-size: 22px;
  padding: 0 20px;
  outline: none;
  border: 2px solid #211f1f;
  background: #c2bebe;
}

.title-H2 {
  font-weight: 600;
  font-size: 20px;
  border-radius: 7px;
  background: #35281d;
  height: 20px;
  color: #fff;
  margin-top: -3px;
  padding: 15px;
}

.footer-btn {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.Cancel-Btn,
.Save-Btn {
  width: 280px;
  height: 30px;
  border-radius: 7px;
  font-size: 18px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.Save-Btn {
  background: #35281d;
  color: #fff;
}

.Save-Btn:hover,
.Cancel-Btn:hover {
  transform: translateY(-3px);
}
