.reports {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
}

/* Summary */

.summaryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.summaryCard {
  background: #fff;
  border-radius: 12px;
  padding: 18px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.summaryCard h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #444;
}

.summaryCard h2 {
  font-size: 28px;
  color: #222;
}

.summaryCard svg {
  font-size: 34px;
  color: #666;
}

/* Filter */

.filterCard {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  width: 1350px;
  gap: 18px;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.filterItem {
  display: flex;
  flex-direction: column;
}

.filterItem label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

.inputBox {
  width: 197px;
  height: 48px;
  padding: 0 14px;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.inputBox-input {
  border: none;
  font-size: 21px;
}

.searchesBtn,
.exportBtn {
  height: 48px;
  padding: 0 30px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
  cursor: pointer;
}

.searchesBtn {
  background: #2458d3;
}

.exportBtn {
  background: #756c62;
}

.searchBtn:hover {
  background: #1845af;
}

.exportBtn:hover {
  background: #5f574f;
}

/* Tabs */

.tabBox {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabActive,
.tabBtn {
  height: 46px;
  padding: 0 24px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.tabActive {
  background: #fff;
  border: 1px solid #d5d5d5;
}

.tabBtn {
  background: #675d52;
  color: #fff;
  border: none;
}

/* Table */

.tableCard {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 5);
}

.reportTable {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
}

.rpth {
  background: #e7e4e2;
  color: #333;
  padding: 16px;
  text-align: center;
  font-size: 15px;
}

.reportTable td {
  padding: 18px 16px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
}

.successText {
  color: #2ecc71;
  font-weight: bold;
}

.failText {
  color: #e74c3c;
  font-weight: bold;
}

.viewBtn {
  border: none;
  border-radius: 25px;
  background: #b8b0aa;
  color: #fff;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  margin: auto;
}

.viewBtn:hover {
  background: #9d948c;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 22px;
}

.pageBtn,
.pageActive {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  background: #fff;
  cursor: pointer;
}

.pageActive {
  background: #4d4036;
  color: #fff;
  border: none;
}
