.search-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dashboardSearch-box {
  width: 1150px;
  height: 45px;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  padding: 0 15px;
  flex: 1;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.dashboardSearch-icon {
  color: #888;
  position: absolute;
}

.dashboardsearch {
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 30px;
  padding-top: -20px;
  background: transparent;
}

.notification-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.notification-btn:hover {
  background: #1976d2;
  color: #fff;
}

@media (max-width: 768px) {
  .search-container {
    width: 100%;
  }

  .search-box {
    width: 100%;
  }
}
