.settings {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f5f5f5;
  padding: 30px;
  box-sizing: border-box;
}

.settingsCard {
  width: 850px;
  background: #fff;
  height: 730px;
  border: 2px solid #d8d8d8;
  border-radius: 12px;
  padding: 25px;
  box-sizing: border-box;
}

.settingsHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ececec;
}

.settingsHeaderIcon {
  font-size: 28px !important;
  color: #3b2b22;
}

.settingsTitle {
  font-size: 28px;
  font-weight: 700;
  color: #3b2b22;
}

.settingsBody {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.settingsSidebar {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  gap: 5px;
  text-align: center;
  outline: none;
}

.sidebarBtn {
  border: 2px solid #d7d7d7;
  border-radius: 8px;
  background: #fff;
  color: #222;
  text-align: left;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: dotted;
  cursor: pointer;
  gap: 20px;
  transition: 0.3s;
}

.sidebarBtn:hover {
  background: #f1f1f1;
  transform: translateY(-3px);
}

.settingsSidebar a.active {
  background: #ccc;
}

.settingcontentes {
  flex: 1;
}
